.Homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}
.checkBoxes {
  margin: 1em;
}
.checkBoxes input {
  margin: 1em;
}
.textInput {
 width: 350px;
 border: 1px solid grey;
 padding: 0.3em;
}
.title{
  font-family: 'Monoton', cursive;
}
.randomCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  text-align: center;
  font-size: 1em;
  background-color: #011936;
  color: white;
  margin: 3em;
  padding: 3em;
  -webkit-box-shadow: 26px 11px 135px -41px rgba(0,0,0,1);
  -moz-box-shadow: 26px 11px 135px -41px rgba(0,0,0,1);
  box-shadow: 26px 11px 135px -41px rgba(0,0,0,1);
}
.crossIcon{
  align-self: flex-end;
  cursor: pointer;
}