form {
  max-width: 300px;
  
}

.signup-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
  padding: 2em;
  font-size: 1.5em;
}
.signup-div input {
  border: none;
  background-color: #333333;
  border-bottom: 1px solid #3C91E6;
  outline: none;
  color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid none;
  -webkit-text-fill-color:  white;
  transition: background-color 5000s ease-in-out 0s;
}