.Top10List{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.topTenCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin: 3em;

}
.cardinfo{
  background-color: #011936;
  border: 1px solid #ffffff;
  border-top:none;
  max-width: 275px;
  font-size: 0.8em;
  max-height: 800px;
  padding: 1em;
}
.cardoverview{
  font-size: 1em;
}
.toptenimage{
  border: 1px solid #ffffff;
}