.VertNav{
background-color: #011936;
color: white;
display: flex;
flex-direction: column;
justify-content: flex-start;
text-align: center;
width: 18em;
height: 100%;
position: fixed;
margin: 0px;
top: 0px;
font-size: 0.7em;
overflow: hidden;
-webkit-box-shadow: 26px 11px 135px -41px rgba(0,0,0,1);
-moz-box-shadow: 26px 11px 135px -41px rgba(0,0,0,1);
box-shadow: 26px 11px 135px -41px rgba(0,0,0,1);
font-size: 1em;
}
.navtitle{
  font-family: 'Monoton', cursive;
  letter-spacing: 0.1em;
  border-bottom: 1px solid white;
}
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
}
.buttons button {
  color: white;
  background-color: #011936;
  border: none;
  cursor: pointer;
  transition: all 0.6s;
  font-size: 1em;
  padding: 0em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid white;
}
.buttons .bordertopbutton {
border-top: 1px solid white;
}
.buttons .bordertopbutton:hover {
  border-top: 1px solid white;
  }

.buttons button:hover {
  color: #011936;
  background-color: white;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid white;
}
.login{
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 3em;
}
.login input{
margin-left: 1em;
}